body{
    background: rgba(197, 182, 164, 0.46);
    margin: 0;
}

h1{
    font-family: "Roboto";
}
/*.parallax-container {
    height: 350px;
}*/

.divider
{
    margin-bottom: 10px;
}

.react-simple-parallax-bg {
    background-image: url('imagen/taller1.jpg');
    height: 400px;
}

/*
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


/*Para el efecto de los botones de la navbar
a.mdl-js-ripple-effect {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}*/