html, body {
    font-family: 'Roboto', sans-serif;
    background: rgba(197, 182, 164, 0.46);
    margin: 0;
    padding: 0;
}

.white {
    color: white;
}

.container {
    height: 650px;
    background: transparent;
    width: auto;
}

.google-map {
    position: absolute;
    z-index: 1;
}

.overlap {
    position: relative;
    width: 25%;
    top: 70px;
    left: 60%;
    z-index: 2;
}

.h1-text {
    padding-top: 10px;
}